body {
  background-color: lightblue;
}

.container-wrapper {
  height: 100vh;
  justify-content: space-evenly;
}
.top-header {
  color: white;
  flex-direction: row;
  margin-top: 10px;
  font-size: 70px;
}
.images1 {
  float: left;
  margin-left: 30px;
  border: 2px solid white;
  height: 330px;
  width: 320px;
}
.images2 {
  border: 2px solid white;
  height: 330px;
  width: 320px;
}
.images3 {
  float: right;
  margin-right: 30px;
  border: 2px solid white;
  height: 330px;
  width: 320px;
}
.bottom-paragraph {
  text-align: center;
  font-size: 40px;
}
